{% extends "base.html" %}

{% block app_content %}
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" media="screen">
<table class="table table-striped table-bordered table-condensed table-hover">
  <caption>List of Teams</caption>
  <thead>
    <tr>
      {% for i in content[0] %}
      {% if i!="website" %}
      <th>{{ i }}</th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i in range(numRow) %}
    <tr>
      {% for j in content[i] %}
      {% if j!="logo" and j!="website" and j!="name" %}
      <td>{{ content[i][j] }}</td>
      {% endif %}
      {% if j=="logo" %}
      <td><img src="{{ content[i][j] }}" alt=""></td>
      {% endif %}
      <!-- {% if j=="website" %}
      <td><a href="{{ content[i][j] }}">{{ content[i]["name"] }}</a></td>
      {% endif %} -->
      {% if j=="name" %}
      <td><a href="{{ content[i]["website"] }}">{{ content[i][j] }}</a></td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
