{% extends "base.html" %}

{% block app_content %}
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" media="screen">
<table class="table table-striped table-bordered table-condensed table-hover">
  <caption>List of Teams</caption>
  <thead>
    <tr>
      {% for i in content[0] %}
      {% if i!="website" %}
      <th>{{ i }}</th>
      {% endif %}
      {% endfor %}
      <th>Subscribe</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(numRow) %}
    <tr>
      {% for j in content[i] %}
      {% if j!="logo" and j!="website" and j!="name" %}
      <td>{{ content[i][j] }}</td>
      {% endif %}
      {% if j=="logo" %}
      <td><img src="{{ content[i][j] }}" alt=""></td>
      {% endif %}
      {% if j=="name" %}
      <td><a href="{{ content[i]["website"] }}">{{ content[i][j] }}</a></td>
      {% endif %}
      {% endfor %}
      {% if tmId==content[i]["teamId"] %}
        <td>
          <button type="button" name="button" class="btn btn-success">Subscribed</button>
        </td>
      {% else %}
        <td>
          <a href="/idChange/{{ i }}"><button type="submit" id="button" class="btn btn-primary">Add</button></a>
        </td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
